.btn {
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    padding: 2rem;
    margin-right: 2rem;
    background-color: aqua;
}

.color-btn{
    
}
